html,
body {
    --color-1: #a8e6cf;
    --color-2: #dcedc1;
    --color-3: #ffd3b6;
    --color-4: #ffaaa5;
    --color-5: #ff8b94;
    padding: 0;
}

body {
    padding-top: 50px;
    background-image: linear-gradient(135deg, lightblue, rgb(0, 213, 255));
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    color: rgb(25, 24, 24);
    
}
#message{
    font-size:40px;
    margin-bottom:40px;
}

.container {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.75);
    padding: 50px;
    border: black 5px solid;
    border-radius:15px;
}

.players {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color:rgb(25, 24, 24)
}

.dice {
    border-radius: 12.5px;
    width: 100px;
    height: 100px;
    background-color: var(--color-2);
    margin: 0 auto;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dice-img{
    width: 100px;
}

.btn-section {
    margin-top:25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    color: rgb(25, 24, 24);
    padding: 20px 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border: 4px rgb(25, 24, 24) solid;
    font-weight: bold ;
}
button:hover{
    transform: scale(1.03);
    transition: 0.2s;
}
button:active{
    transform: scale(0.9);
    transition: 0.2s;
}

.play-btns {
    display: flex;
    column-gap: 10px;
    width: 100%;    
}
#rollBtn {
    background-color: var(--color-1);
}

#doubleBtn{
    background-color: var(--color-3);
}
#resetBtn {
    background-color: var(--color-5);
    display: none;
}

button:focus {
    outline: none;
}

.active {
    box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
}